.box-more-promotion-list li::before {
    content: "✅";
    font-size: 15px;
    font-weight: bold;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .position-sticky {
        position: relative !important;
    }
}