.up-to-top {
    position: fixed;
    bottom: 120px;
    right: 70px;
}

.respond {
    position: fixed;
    bottom: 60px;
    right: 70px;
    animation: pulse 1.5s infinite;

}



.col-12d5 {
    flex: 0 0 20%;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

.bg {
    background: linear-gradient(to right, #870000, #190a05)
        /* background: linear-gradient(rgb(255, 99, 114), rgb(248, 56, 100), rgb(252, 54, 54)) */
}

